EndToEndImageReviewApp/Connected Services/ImageReviewManagerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EndToEndImageReviewManager" />
  <xs:element name="GetImageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="imageId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EndToEndImageReviewManager" minOccurs="0" name="GetImageInfoResult" nillable="true" type="q2:ImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EndToEndImageReviewManager" minOccurs="0" name="request" nillable="true" type="q3:ImageReviewRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReviewImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EndToEndImageReviewManager" minOccurs="0" name="ReviewImageResult" nillable="true" type="q4:ImageReviewResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>