EmzWorklistInteractionManager/Connected Services/MsqWorklistService/MsqWorklistService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MsqWorklistService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MsqWorklistService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMsqWorklistItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MsqWorklistItem" nillable="true" type="tns:MsqWorklistItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMsqWorklistItem" nillable="true" type="tns:ArrayOfMsqWorklistItem" />
  <xs:complexType name="MsqWorklistItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquisitionDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MsqImgId" type="xs:int" />
      <xs:element minOccurs="0" name="MsqPatId1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MsqWorklistItem" nillable="true" type="tns:MsqWorklistItem" />
</xs:schema>