EmzWorklistInteractionManager/Connected Services/MsqWorklistService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MsqWorklistService" />
  <xs:element name="GetWorklistForStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="staffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorklistForStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MsqWorklistService" minOccurs="0" name="GetWorklistForStaffResult" nillable="true" type="q1:ArrayOfMsqWorklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MsqWorklistService" minOccurs="0" name="GetImageInfoResult" nillable="true" type="q2:MsqImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadImageData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadImageDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MsqWorklistService" minOccurs="0" name="LoadImageDataResult" nillable="true" type="q3:MsqImageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>