EmzWorklistInteractionManager/Connected Services/MsqWorklistService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MsqImagingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MsqWorklistService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMsqImagingService_GetWorklistForStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorklistForStaff" />
  </wsdl:message>
  <wsdl:message name="IMsqImagingService_GetWorklistForStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorklistForStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IMsqImagingService_GetImageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageInfo" />
  </wsdl:message>
  <wsdl:message name="IMsqImagingService_GetImageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMsqImagingService_LoadImageData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadImageData" />
  </wsdl:message>
  <wsdl:message name="IMsqImagingService_LoadImageData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadImageDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IMsqImagingService">
    <wsdl:operation name="GetWorklistForStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsqImagingService/GetWorklistForStaff" message="tns:IMsqImagingService_GetWorklistForStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsqImagingService/GetWorklistForStaffResponse" message="tns:IMsqImagingService_GetWorklistForStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsqImagingService/GetImageInfo" message="tns:IMsqImagingService_GetImageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsqImagingService/GetImageInfoResponse" message="tns:IMsqImagingService_GetImageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadImageData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMsqImagingService/LoadImageData" message="tns:IMsqImagingService_LoadImageData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMsqImagingService/LoadImageDataResponse" message="tns:IMsqImagingService_LoadImageData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMsqImagingService" type="tns:IMsqImagingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorklistForStaff">
      <soap:operation soapAction="http://tempuri.org/IMsqImagingService/GetWorklistForStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageInfo">
      <soap:operation soapAction="http://tempuri.org/IMsqImagingService/GetImageInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadImageData">
      <soap:operation soapAction="http://tempuri.org/IMsqImagingService/LoadImageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MsqImagingService">
    <wsdl:port name="BasicHttpBinding_IMsqImagingService" binding="tns:BasicHttpBinding_IMsqImagingService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MsqWorklistService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>