ImageWorkListAggregatorManager/Connected Services/EmzWorklistInteractionService/EmzWorklistInteractionManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EmzWorklistInteractionManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmzWorklistInteractionManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWorklistItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorklistItem" nillable="true" type="tns:WorklistItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorklistItem" nillable="true" type="tns:ArrayOfWorklistItem" />
  <xs:complexType name="WorklistItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquisitionDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImageId" type="ser:guid" />
      <xs:element minOccurs="0" name="PatientId" type="ser:guid" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorklistItem" nillable="true" type="tns:WorklistItem" />
  <xs:complexType name="ImageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquisitionDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImageId" type="ser:guid" />
      <xs:element minOccurs="0" name="PatientId" type="ser:guid" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageInfo" nillable="true" type="tns:ImageInfo" />
  <xs:complexType name="ImageData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="ImageId" type="ser:guid" />
      <xs:element minOccurs="0" name="Pixels" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageData" nillable="true" type="tns:ImageData" />
</xs:schema>