EndToEndImageReviewManager/Connected Services/EmzImagingInteractionManagerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EmzWorklistInteractionManager" />
  <xs:element name="GetWorklistForStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="staffId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorklistForStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EmzWorklistInteractionManager" minOccurs="0" name="GetWorklistForStaffResult" nillable="true" type="q2:ArrayOfWorklistItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="imageId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EmzWorklistInteractionManager" minOccurs="0" name="GetImageInfoResult" nillable="true" type="q4:ImageInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageDataForReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="imageId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageDataForReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EmzWorklistInteractionManager" minOccurs="0" name="GetImageDataForReviewResult" nillable="true" type="q6:ImageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>