EndToEndImageReviewManager/Connected Services/EmzWorklistInteractionManagerService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorklistInteractionManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EmzWorklistInteractionManager" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorklistInteractionManager_GetWorklistForStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorklistForStaff" />
  </wsdl:message>
  <wsdl:message name="IWorklistInteractionManager_GetWorklistForStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorklistForStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IWorklistInteractionManager_GetImageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageInfo" />
  </wsdl:message>
  <wsdl:message name="IWorklistInteractionManager_GetImageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IWorklistInteractionManager_GetImageDataForReview_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageDataForReview" />
  </wsdl:message>
  <wsdl:message name="IWorklistInteractionManager_GetImageDataForReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageDataForReviewResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorklistInteractionManager">
    <wsdl:operation name="GetWorklistForStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorklistInteractionManager/GetWorklistForStaff" message="tns:IWorklistInteractionManager_GetWorklistForStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorklistInteractionManager/GetWorklistForStaffResponse" message="tns:IWorklistInteractionManager_GetWorklistForStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorklistInteractionManager/GetImageInfo" message="tns:IWorklistInteractionManager_GetImageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorklistInteractionManager/GetImageInfoResponse" message="tns:IWorklistInteractionManager_GetImageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageDataForReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorklistInteractionManager/GetImageDataForReview" message="tns:IWorklistInteractionManager_GetImageDataForReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorklistInteractionManager/GetImageDataForReviewResponse" message="tns:IWorklistInteractionManager_GetImageDataForReview_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorklistInteractionManager" type="tns:IWorklistInteractionManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorklistForStaff">
      <soap:operation soapAction="http://tempuri.org/IWorklistInteractionManager/GetWorklistForStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageInfo">
      <soap:operation soapAction="http://tempuri.org/IWorklistInteractionManager/GetImageInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageDataForReview">
      <soap:operation soapAction="http://tempuri.org/IWorklistInteractionManager/GetImageDataForReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorklistInteractionManagerService">
    <wsdl:port name="BasicHttpBinding_IWorklistInteractionManager" binding="tns:BasicHttpBinding_IWorklistInteractionManager">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/EmzWorklistInteractionManager/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>