EndToEndImageReviewApp/Connected Services/WorklistAggregatorManagerService/ImageWorkListAggregatorManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ImageWorkListAggregatorManager" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ImageWorkListAggregatorManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWorklistItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorklistItem" nillable="true" type="tns:WorklistItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorklistItem" nillable="true" type="tns:ArrayOfWorklistItem" />
  <xs:complexType name="WorklistItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcquisitionDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImageId" type="ser:guid" />
      <xs:element minOccurs="0" name="PatientId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorklistItem" nillable="true" type="tns:WorklistItem" />
</xs:schema>